.hospitals-carousel {
    margin-top: 10px;
    background-color: transparent;
}

.hospitals-carousel .carousel-inner {
    margin-top: 10px;
}

.hospitals-carousel .carousel-control {
    padding-top: 15%;
    width: 5%;
}

.testimoniesCarousel {
    margin-top: 20px;
}

.testimoniesCarousel .testimoniesIndicator {
    margin-top: 80px;
    line-height: 50px;
    width: 100%;
}

.testimoniesCarousel .carousel-inner.vertical {
    height: 100%;
}

.testimoniesCarousel .carousel-inner.vertical .item img {
    width: 100%;
    height: auto;
}

.testimoniesCarousel .carousel-inner.vertical .item .carousel-caption {
    position: relative;
    text-align: center;
    padding: 0;
    bottom: 0;
    left: 0;
    color: black;
}

.underline {
    border-bottom: 5px solid #805eea;
    width: 50px;
    margin: auto;
}

.testimoniesCarousel .carousel-inner.vertical > .item {
    -webkit-transition: .6s ease-in-out top;
    -o-transition: .6s ease-in-out top;
    transition: .6s ease-in-out top;
}

@media all and (transform-3d),
(-webkit-transform-3d) {
    .testimoniesCarousel .carousel-inner.vertical > .item {
        -webkit-transition: -webkit-transform .6s ease-in-out;
        -o-transition: -o-transform .6s ease-in-out;
        transition: transform .6s ease-in-out;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000;
        perspective: 1000;
    }

    .testimoniesCarousel .carousel-inner.vertical > .item.next,
    .testimoniesCarousel .carousel-inner.vertical > .item.active.right {
        top: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    .testimoniesCarousel .carousel-inner.vertical > .item.prev,
    .testimoniesCarousel .carousel-inner.vertical > .item.active.left {
        top: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    .testimoniesCarousel .carousel-inner.vertical > .item.next.left,
    .testimoniesCarousel .carousel-inner.vertical > .item.prev.right,
    .testimoniesCarousel .carousel-inner.vertical > .item.active {
        top: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.testimoniesCarousel .carousel-inner.vertical > .active {
    top: 0;
}

.testimoniesCarousel .carousel-indicators {
    position: relative;
    z-index: 15;
    padding-left: 0;
    text-align: center;
    list-style: none;
    height: 100%;
}

.testimoniesCarousel .carousel-indicators li {
    display: inline-block;
    margin: 1px;
    height: 30px;
    width: 30px;
    text-indent: -999px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #666666;
    border-radius: 30px;
}

.testimoniesCarousel .carousel-indicators .active {
    width: 30px;
    height: 30px;
    margin: 0;
    background-color: #7db3f3;
}