ul.nav li:not(:first-child) {
    display: none;
}

ul.nav li.icon {
    float: right;
    display: inline-block;
}

ul.nav.responsive {
    position: relative;
}

ul.nav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
}

ul.nav.responsive li {
    float: none;
    display: inline;
}

ul.nav.responsive li a {
    display: block;
    text-align: left;
    padding:14px 16px;
}

div.video div.slogan {
    padding:10px;
    font-size: 20px;
    color: white;
    width: 100%;
    height:100%;
    text-align: center;
    text-shadow: 5px 5px 10px gray;
}

div.video button {
    background-color: #805eea;
    border: none;
    color: white;
    text-align: center;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
}